﻿@using Nop.Web.Models.Corus.Inquiries
@model InquiryListModel
@inject Nop.Core.IWebHelper webHelper

@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}

@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.CustomerInquiryList })
}

<div class="page account-page reward-points-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.RewardPoints")</h1>
    </div>
    <div class="page-body">
        
        <div class="section reward-points-history">
            <div class="title">
                <strong>@T("RewardPoints.History")</strong>
            </div>
            @if (Model.Inquiries.Count > 0)
            {
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col width="20%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="date">
                                    @T("RewardPoints.Fields.CreatedDate")
                                </th>
                                <th class="points">
                                    @T("RewardPoints.Fields.Points")
                                </th>
                                <th class="points-balance">
                                    @T("RewardPoints.Fields.PointsBalance")
                                </th>
                                <th class="message">
                                    @T("RewardPoints.Fields.Message")
                                </th>
                                <th class="endDate">
                                    @T("RewardPoints.Fields.EndDate")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Inquiries.Count; i++)
                            {
                                var item = Model.Inquiries[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td class="ProductId">
                                        @item.ProductId
                                    </td>
                                    <td class="InqDate">
                                        @item.InqDate
                                    </td>
                                    <td class="PriceInclTax">
                                        @item.PriceInclTax
                                    </td>
                                    <td class="InqStatus">
                                        @item.InqStatus
                                    </td>
                                    <td class="InqValidDate">
                                        @item.InqValidDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                var pager = Html.Pager(Model.PagerModel);
                if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                {
                    <div class="pager">
                        @pager
                    </div>
                }
            }
            else
            {
                <div class="no-data">
                    @T("RewardPoints.NoHistory")
                </div>
            }
        </div>
    </div>
</div>
