﻿@model Nop.Web.Models.Corus.Inquiries.InquiryModel

@{
    Layout = "_ColumnsTwo";

}

@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.CustomerInquiry })
}

@if (Model.Id > 0)
{
<h2>    
    <a asp-controller="Inquiry" asp-action="CustomerInquiryList" asp-route-id="10" style="color:blue"> Back to list</a>
</h2>
    
    <h3>
        @T("Corus.Customer.Product.Inquiry")
    </h3>
    <form asp-controller="Inquiry" asp-action="CustomerInquiryDetail" method="post">
        <input type="hidden" asp-for="@Model.ProductId" />
        <input type="hidden" asp-for="@Model.Id" />
        <h1>@Model.Id</h1>
        <div class="form-fields">
            <div class="inputs">
                <label asp-for="InqProductAttributesXml" asp-postfix=":"></label>
                <input asp-for="InqProductAttributesXml" />
                <nop-required />
                <span asp-validation-for="InqProductAttributesXml"></span>
            </div>
            <div class="inputs">
                <label asp-for="Quantity" asp-postfix=":"></label>
                <input asp-for="Quantity" />
                <nop-required />
                <span asp-validation-for="Quantity"></span>
            </div>
            <div class="inputs">
                <label asp-for="PriceInclTax" asp-postfix=":"></label>
                <input asp-for="PriceInclTax" />
                <span asp-validation-for="PriceInclTax"></span>
            </div>
            <div class="inputs">
                <label asp-for="PriceExclTax" asp-postfix=":"></label>
                <input asp-for="PriceExclTax" />
                <span asp-validation-for="PriceExclTax"></span>
            </div>
            <div class="inputs">
                <label asp-for="Description" asp-postfix=":"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="inputs">
                <label asp-for="InqDate" asp-postfix=":"></label>
                <input type="date" asp-for="InqDate" />
                <nop-required />
                <span asp-validation-for="InqDate"></span>
            </div>
            <div class="inputs">
                <label asp-for="InqDate" asp-postfix=":"></label>
                <input type="date" asp-for="InqValidDate" />
                <span asp-validation-for="InqDate"></span>
            </div>
        </div>
        <div class="buttons">
            <input type="submit" id="save-info-button" value="@T("Common.Save")" name="save-info-button" class="button-1 save-customer-info-button" />
        </div>
    </form>
}