﻿@*@using Nop.Web.Models.Corus.Inquiries
    @model IList<InquiryModel>*@
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}

@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.CustomerInquiry })
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Index</th>
            <th>Product</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Price</th>
            <th>Inquiry Date</th>
            <th>Valid Till</th>
            <th>Manage</th>
        </tr>
    </thead>
</table>

<script asp-location="Footer">
    jQuery.noConflict();
    $(document).ready(function () {
        $('#table_id').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("DataSource", "inquiry")",
                type: 'POST',
                datatype: "json"
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                { "data": "Id" },
                { "data": "ProductName" },
                { "data": "VendorName" },
                { "data": "DispInqStatus" },
                { "data": "PriceExclTax" },
                { "data": "DispInqDate" },
                { "data": "DispInqValidDate" },
                { "data": "", "defaultContent": "<button onclick='edititem();'>Edit</button>" }
            ],
            //"defaultContent": "<button>Click!</button>"

            //"mRender": function (data, type, full) {
            //    return '<a class="btn btn-info btn-sm" href=#/' + full[0] + '>' + 'Edit' + '</a>';
            //}
        });
    });

    function edititem() {
        alert("ddddddddd")
        window.location.reload("http://localhost:15536/customer/addressedit/1");
    }

   

</script>
