﻿@model InquirySearchModel
@using Nop.Web.Areas.Admin.Models.Inquiries
@{
    //page title
    ViewBag.PageTitle = T("Admin.Cours.Inquiries").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ProductInquiry");
}

@{
    const string hideSearchBlockAttributeName = "InquiryPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Cours.Inquiries")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="CustomerEmail" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="CustomerEmail" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="ProductName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="ProductName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="InquiryEndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="InquiryEndDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="InquiryStartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="InquiryStartDate" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-manufacturers" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
               {
                   Name = "stores-grid",
                   UrlRead = new DataUrl("List", "Inquiry", null),
                   SearchButtonId = "search-log",
                   Length = Model.PageSize,
                   LengthMenu = Model.AvailablePageSizes,
                   ColumnCollection = new List<ColumnProperty>
                          {
                              new ColumnProperty(nameof(InquiryModel.ProductName))
                              {
                                  Title = T("Corus.Customer.Product.Inquiry.Field.CustomerEmail").Text
                              },
                              new ColumnProperty(nameof(InquiryModel.Quantity))
                              {
                                 Title = T("Corus.Customer.Product.Inquiry.Field.Quantity").Text,
                                  Width = "100"
                              },
                              new ColumnProperty(nameof(InquiryModel.InqDate))
                              {
                                Title = T("Corus.Customer.Product.Inquiry.Field.InqDate").Text,
                                  Encode = false
                            }
                            }
               })
                </div>
            </div>
        </div>
    </div>
</div>
